@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
    font-size: 16px;
}
ul {
    list-style: none;
}
#listdata, #listdata2{
    color: white;
}
.datt{
    color: var(--blue);
}
a{
    text-decoration: none;
}
:root{
    --blue: rgb(22, 70, 114);
    --grey: rgb(99, 99, 99);
    --red: rgb(243, 51, 51);
    --line: rgba(177, 177, 177, 0.378);
}
body section{
    width: 100%;
    padding: 50px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
}
nav a{
    color: var(--blue);
    font-weight: 600;
    display: inline-block;
    padding: 13px 26px;
}
.adjust{
    display: inline-block;
    transform: translate(-8px, 2px);
}
.headersection{
    background: #0f0c29;
    background: linear-gradient(to right, #f1f1f3, #eeedfc, #eeeefc);
    color: white;
}
.nav_icon{
    height: 40px;
    width: auto;
}
.jumbotron{
    display: flex;
    gap: 20px;
    padding: 2% 5%;
}
.headertext > h1{
    font-size: 3em;
    margin-top: 40px;
    font-weight: 600;
    color: var(--blue);
}
.headertext>h2{
    font-size: 3.2rem;
    padding: 10px 20px;
    display: inline-block;
    margin: 20px 0 30px 0px;
    background: var(--red)
}
.headertext>p{
    color: rgb(58, 58, 58) !important;
    margin: 30px 0;
}
.mainsection{
    padding: 50px 10%;
}
.mainsection>h1{
    margin-bottom: 60px;
    color: var(--blue);
}
.usefull{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 200px auto;
    gap: 20px;
}
.usefull>div{
    flex: 1;
    padding: 30px;
    border-radius: 18px;
    text-align: center;
    transition: all 0.3s ease;
    color: var(--blue);
    cursor: pointer;
}
.caps>h3{
    line-height: 1.4;
    margin-bottom: 20px;
}
.caps>p{
    line-height: 1.5;
    opacity: 0.5;
    color:rgb(39, 39, 39);
}
.usefull>div:hover{
    box-shadow: 0 3px 10px 0 rgb(221, 221, 221);
    position: relative;
    transform: translateY(-5px);
}
.usefull>div>figure>img{
    width: 50px;
}
.contactbox{
    background: var(--blue);
    color: white;
    padding: 100px 15%;
    text-align: center;
    font-size: 1.2rem;
}
.contactbox>h1{
    margin: 0 0 25px 0;
}
.contactbox a{
    display: inline-block;
    padding: 12px 50px;
    background: white;
    border: 3px solid white;
    border-radius: 25px;
    color: var(--blue);
    font-size: 1.2rem;
    margin-top: 30px;
    font-weight: 600;
    transition: all 0.4s ease;
}
.contactbox a:hover{
    background: var(---blue);
    border: 3px solid white;
    color: white;
}
.mainsection>h1{
    font-size: 2.5rem;
    text-align: center;
}
.headertext > p{
    font-size: 1.1em;
    color: var(--blue);
    line-height: 1.7em;
    opacity: 0.6;
}
.jumbotron figure{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.jumbotron img{
    transform: translateY(-50px);
    width: 700px;
}
button{
    cursor: pointer;
}
.btnblue{
    border: 2px solid var(--blue);
    background:rgba(18, 44, 70, 0.884);
    color: white;
    display: inline-block;
    padding: 16px 32px;
    font-size: 1em;
    border-radius: 6px;
    margin-top: 20px;
}
.btnblue:hover, .btnblue:focus{
    box-shadow: 0 0 10px 0 rgba(44, 74, 102, 0.8);
    outline: none;
}
.bgred{
    color: var(--red) !important;
}   

#graphSummary .wrapper{
    margin-block-start: 85px; 
}
.wrapper{
    background: white;
    border: 1px solid rgba(177, 177, 177, 0.378);;
    padding: 30px 40px;
    width: 80%;
    margin-left: 10%;
    border-radius: 15px;
    box-shadow: 0 0 50px 0 rgba(128, 128, 128, 0.180);
}
.wrapper h2{
    color: var(--blue);
    margin-block-start: 0;
    padding-block-end: 10px;
    border-block-end: 1px solid var(--line);
}
.wrapper p{
    margin: 0;
    color: var(--grey);
    font-weight: 400;
}
.nav-data label{
    color: var(--grey);
}
.nav-data{
    margin-block-start: 25px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.nav-data form{
    display: flex;
    gap: 20px;
    align-items: center;
}
.nav-data form input, select{
    background: white;
    padding: 12px 18px;
    border-radius: 8px;
    border: 1px solid var(--line); 
    font-size: 1em;
    color: var(--grey);
}
.nav-data form select{
    padding: 13px 18px;
}
.nav-data form input[type="submit"]{
    padding: 14px 25px;
    background: var(--blue);
    color: white;
    cursor: pointer;
}
.nav-data form input[type="submit"]:hover{
    box-shadow: 0 0 10px 0 rgba(44, 74, 102, 0.8);
}
.nav-data form input[type="submit"]:focus{
    outline: none;
    box-shadow: 0 0 10px 0 rgba(44, 74, 102, 0.8);
}
.nav-data form input:focus, select:focus{
    outline: 1px solid var(--blue);
}
.nav-data form input:hover, select:hover{
    box-shadow: 0 0 20px 0 rgba(128, 128, 128, 0.275); 
}
footer{
    color: var(--blue);
    padding: 80px 5%;
    padding-bottom: 15px;
}
footer section .corpInfo{
    color: var(--blue);    
}
.corpInfo figure{
    margin-inline-start: 0;
    margin-block-start: 0;
}
footer>div{
    display: flex;
    padding: 0 2%;
    gap: 100px;
}
footer>div>div{
    flex: 1;
}
.corpInfo img{
    height: 60px;
    padding: 10px 0px;
    width: auto;
    margin: 0px 0 10px 0;
}
footer>p{
    border-top: 1px solid rgba(65, 65, 65, 0.178);
    padding-top: 20px;
    margin-bottom: 5px;
    font-weight: 600;
}
.resource>h1, .corpInfo>h1{
    display: inline-block;
    margin-bottom: 20px;
}
.resource>p>a{
    color: var(--blue) !important;
}
.resource>p{
    margin-bottom: 12px;
    color: inherit;
    opacity: 0.6;
}
.corpInfo p{
    font-weight: 400;
    font-size: 0.9rem;
    margin: 0 0 10px 5px; 
}
.corpInfo{
    display: inline-block;
    margin-bottom: 20px;
}
.svg-inline--fa{
    margin-right: 10px;
}
/* page login */
.loginmain>div>aside{
    flex: 2;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginmain>div>aside>figure{
    flex-direction: column;
}
.loginmain>div>aside>figure>img{
    transform: translateY(-20px);
}
.loginmain>div>aside>figure>figcaption{
    transform: translateY(50px);
    color: var(--blue);
}
.loginmain>div>aside>figure>figcaption>h1{
    font-size: 3rem;
    padding: 15px;
    color: var(--blue);
}
.loginmain>div>div{
    flex: 1.5;
    background: white;
    height: 100%;
}
.loginmain{
    background: rgb(245, 245, 245);
    position: fixed;
    width: 100%;
    height: 100%;
}
.loginmain>div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.loginbox{
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.loginbox>div{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgba(128, 128, 128, 0.281);
    border-radius: 8px;
    box-shadow: 0 0 20px 0 rgba(128, 128, 128, 0.2);
}
.loginbox>div>h2{
    background: linear-gradient(to right, #092c4d, #0d3f6e, #092c4d);
    padding: 20px;
    text-align:center;
    width: 100%;
    color: white;
    border-radius: 8px 8px 0 0;
}
.forminput{
    display: flex;
    flex-direction: column;
    padding: 30px 40px 40px 40px;
    gap: 24px;
    color: var(--blue);
}
.forminput>div>label{
    display: block;
    margin-bottom: 8px;
    opacity: 0.7;
}
.forminput>div>input{
    font-size: 1rem;
    padding: 12px 20px;
    background: rgb(247, 247, 247);
    border-radius: 4px;
    border: 1px solid var(--line);
    width: 100%;
}
.forminput>div>input:focus{
    outline: 2px solid var(--blue);
}
.forminput>button{
    border: 1px solid transparent;
    outline: none;
    display: block;
    padding: 16px 32px;
    color: white;
    text-align: center;
    border-radius: 6px;
    background: var(--blue);
}
.forminput>.warning{
    padding: 12px 24px;
    border: 1px solid rgb(230, 41, 41);
    border-radius: 5px;
    color: rgb(230, 41, 41);
    background: rgba(255, 0, 0, 0.070);
}
.forminput>button:hover, .forminput>button:focus{
    box-shadow: 0 0 10px var(--grey);
}
.forminput>p{
    font-size: 0.9rem;
    color: rgba(128, 128, 128, 0.8);
}
.loginbox>a{
    text-decoration: none;
    color: inherit;
    opacity: 0.4;
    padding: 10px 12px;
    font-weight: 600;
}
.loginbox>a:hover, .loginbox>a:focus{
    color: var(--blue);
    outline: none;
    opacity: 1;
}
/* page main */
.outboxmain>nav{
    position: fixed;
    background: white;
    width: 230px;
    height: 100%;
    padding: 30px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 30px;
    box-shadow: 2px 0 10px 0 rgb(228, 227, 227);
}
.itemnav{
    display: flex;
    gap: 20px;
    align-items: center;
    width: 100%;
    opacity: 0.5;
    cursor: pointer;
}
.itemnav:hover{
    color: var(--blue);
    opacity: 1;
    border-left: 5px solid var(--blue);
}
.outboxmain>nav>img{
    margin-bottom: 30px;
}
.outboxmain>main{
    background: rgba(243, 243, 243, 0.6);
    padding: 30px 30px 30px 260px;
    width: 100%;
    z-index: -1;
    overflow: auto;
    height: 100%;
}
.sumhead{
    padding: 30px 40px;
    overflow: hidden;
    box-shadow: 0 0 10px 0 rgb(236, 236, 236);
    border: 1px solid rgba(128, 128, 128, 0.2);
    height: 270px;
    border-radius: 10px;
    background: white;
    color: var(--blue);
}
.sumhead>img{
    width: 300px;
    float: right;
    transform: translateY(-20px);
}
.sumhead>p{
    margin: 25px 0;
    width: 60%;
    line-height: 1.6;
    opacity: 0.6;
}
.sumhead>a{
    padding: 13px 26px;
    background: var(--blue);
    color: white;
    display: inline-block;
    border-radius: 5px;
}
.sumhead>a:hover, .sumhead>a:focus{
    outline: none;
    box-shadow: 0 0 10px 0 rgba(128, 128, 128, 0.8);
}
.sumbox{
    margin: 50px 0 70px 0;
    color: var(--blue);
}
.sumbox>h2{
    padding: 0 10px 8px 10px;
    display: inline-block;
    margin-bottom: 20px;
    line-height: 1.5;
}
.sumcontentbox{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-left: 20px;
}
.box{
    padding: 20px 40px;
    border: 1px solid var(--line);
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    height: 120px;
    background: white;
    box-shadow: 0 0 5px 0 rgba(196, 196, 196, 0.432);
    transition: transform 0.3s ease;
    cursor: default;
}
.box:hover{
    transform: translateY(-5px);
}
.box>h3{
    font-size: 1.2rem;
    margin-bottom: 10px;
    opacity: 0.6;
}
.box>p{
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(19, 82, 175);
}
.box>img{
    float:right;
    transform: translate(30px, -60px);
    opacity: 0.15;
    /* filter: grayscale(100); */
}
/* Pages Summary */
.page_title h1{
    color: white;
    background: rgb(201, 10, 10);
    display: inline-block;
    margin-inline-start: 70px;
    margin-block-start: 0;
    padding: 15px 30px 20px 30px;
    border-radius: 0 0 14px 14px;
    font-size: 2.5em;
}
.s_date_info{
    padding: 20px 40px; 
    text-align: center;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 15px;
    height: 68px;
    overflow: hidden;
    transition: all 0.2s ease-in;
    border-radius: 8px;
}
.box_date_info{
    display: flex;
    justify-content: space-between;
}
.box_date_info p a:focus{
    background: none !important;
    box-shadow: none;
    outline: none;
}
.box_edit_date{
    border-block-start: 1px solid var(--line);
    padding: 20px;
}
.s_left_menu a{
    display: inline-block;
    color: var(--red) !important;
    margin-top: 30px;
    margin-right: 50px;
}
.s_date_info p{
    font-size: 1.2em;
    font-weight: 600;
    color: var(--blue);
}
.s_boxLocation{
    display: flex;
    flex-direction: row;
    padding: 40px 0px;
    gap: 60px;
    width: 80%;
    margin-inline-start: 10%;
}
.s_boxLocation .wrapper{
    width: 80%;
    margin: 0;
    padding: 30px 50px;
    border-radius: 10px;
}
.smallbtn{
    margin-inline-start: 120px; 
    color: var(--line);
}
.smallbtn:hover{
    color: var(--blue);
}
.smallbtn:focus{
    box-shadow: none;
}
.s_boxLocation .wrapper h1{
    color: var(--blue);
    border-bottom: 1px solid var(--line);
    margin: 0;
    font-size: 1.5rem;
    padding-block-end: 15px;
    font-weight: 600;
}
.s_boxLocation table{
    margin: 20px 0;
    color: var(--grey);
    width: 100%;
    border-collapse: collapse;
}
.s_boxLocation table tr th{
    border-bottom: 1px solid var(--line);
    font-weight: 600;
    padding: 12px;
    font-size: 1rem;
    background: var(--blue);
    color: white;
}
.s_boxLocation table tr td{
    padding: 15px 20px;
    font-size: 0.95rem;
    font-weight: 300;
}
.s_boxLocation table tr{
    border: 1px solid var(--line);
    transition: all 0.01s ease-in-out;
    margin: 2px 0;
}
.s_boxLocation table tr:hover{
    background: rgba(167, 167, 167, 0.172);;
    color: var(--blue);
    cursor: pointer;
}
.s_boxLocation table tr td:nth-child(2){
    text-align: center;
    font-weight: 600;
    font-size: 1.1rem;
}
.s_boxLocation table tr td:nth-child(3){
    text-align: center;
    font-weight: 600;
    font-size: 1.1rem;
}
.btnDetail{
    display: flex;
    justify-content: flex-end;
}
.btnDetail a{
    background: var(--blue);
    color: white;
    padding: 15px 30px;
    border-radius: 8px;
}
.btnDetail a:hover{
    box-shadow: 0 0 10px 0 rgba(44, 74, 102, 0.8);
}
.btnDetail a:focus{
    outline: none;
    border: none;
}
.boxListAttendance{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.boxListAttendance figure{
    width: 30%;
}
.tAttendance{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tAttendance .t_operator{
    width: 650px;
    height: 450px;
}
.tAttendance table{
    width: 100%;
    border-collapse: collapse;
    margin: 10px;
    margin-left: 0;
}
.tAttendance table thead th{
    background: var(--blue);
    color: white;
    padding: 15px 10px;
}
.tAttendance table tr td{
    border: 1px solid var(--line);
    color: rgb(39, 39, 39);
    font-weight: 300;
    padding: 10px;
    font-size: 0.9rem;
}
.tAttendance table tr td:nth-child(1){
    text-align: center;
}
.tAttendance table tr td:nth-child(4){
    text-align: center;
}
.pagination{
    width: auto;
    overflow: hidden;
}
.pagination ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 5px;
    margin-block-start: 40px;
    text-align: center;
    padding-inline-start: 0;
    background: var(--blue);
    color: white;
}
.pagination ul li:nth-child(1){
    border-radius: 5px 0 0 5px;
}
.pagination ul li:nth-last-child(1){
    border-radius: 0 5px 5px 0;
}
.t_operator table tr:hover{
    background: rgba(42, 58, 70, 0.056);
    cursor: pointer;
}
.pagination ul li a{
    display: inline-block;
    padding: 14px 18px;
    color: white;
}
.pagination ul li a:hover{
    background: rgb(62, 62, 165);
    color: white;
}
.pagination ul li a:focus{
    background: rgb(62, 62, 165);
    color: white;
    outline: none;
    box-shadow: none;
}
.pagination ul li a:active{
    background: rgb(62, 62, 165);
    color: white;
    outline: none;
}
.detailPIT2{
    margin: 30px 10%; 
    padding: 40px 50px;
}
.searchContent>h1{
    color: var(--blue);
}
.datebox{
    margin-top: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 3px 10px 0 rgba(128, 128, 128, 0.1);
    padding: 20px 40px;
}
.datebox>form{
    display: flex;
    gap: 35px;
}
.datebox>form>div>input{
    padding: 8px 16px;
    border: 1px solid rgba(128, 128, 128, 0.3);
    border-radius: 5px;
    margin-left: 10px;
    background: rgba(128, 128, 128, 0.08);
}
.datebox>form>button{
    padding: 8px 16px;
    padding-left: 20px;
    background: var(--blue);
    border: 1px solid var(--blue);
    color: white;
    border-radius: 5px;
}
.datebox>form>button:hover, .datebox>form>button:focus{
    outline: none;
    box-shadow: 0 0 6px 0 var(--blue);
}
#illussearch{
    text-align: center;
    margin: 40px auto;
    color: var(--blue);
}
#illussearch>figcaption{
    margin-bottom: 20px;
}
#illussearch>figcaption>p{
    margin-top: 12px;
    opacity: 0.5;
}
.min{
    margin: 30px 0;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 6px;
    box-shadow: 0 0 10px 0 rgb(231, 231, 231);
    background: white;
    padding: 0 30px 30px;
}
.min>div>h2{
    padding: 10px 20px;
    border-radius: 0 0 7px 7px;
    background: var(--blue);
    color: white;
}
.headerr{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}
.headerr>a{
    color: var(--blue);
    font-size: 0.9rem;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: 600;
    transition: all 0.4s ease;
}
.headerr>a:hover{
    background: var(--blue);
    color: white;
}
.pitcontent>h3{
    border-bottom: 1px solid var(--line);
    padding-bottom: 10px;
}
.pitcontent>div{
    margin: 20px 0;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    flex: 1 1 200px auto;
    justify-content: center;
}
.datt{
    box-shadow: 0 0 20px 0 rgba(128, 128, 128, 0.2);
    padding: 12px 24px;
    border-radius: 6px;
    border: 1px solid rgb(211, 211, 211);
    width: 190px;
}
.datt>h4{
    border-bottom: 1px solid var(--line);
    padding-bottom: 6px;
    margin-bottom: 10px;
}
.val>td{
    padding: 2px 0;
    opacity: 0.6;
    font-size: 0.9rem;
}
.val>td:nth-child(2){
    text-align: right;
    width: 100%;
    font-weight: 600;
    opacity: 1;
}
.graphbo{
    height: 300px;
    padding-bottom: 30px;
}
summary, details{
    list-style: none;
    cursor: pointer;
}
.inf{
    margin-top: 8px;
    font-size: 0.7rem;
    font-style: italic;
}
.detailbox{
    color: var(--blue);
    padding: 30px 40px;
    border: 1px solid var(--line);
    box-shadow: 0px 0px 20px 0 rgba(128, 128, 128, 0.15);
    border-radius: 6px;
    margin: 20px 0; 
    min-height: 700px;
}
.detailbox>p{
    opacity: 0.7;
    font-size: 0.8rem;
    margin: 7px 0 30px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--line);
}
.detailss>a{
    color: var(--blue);
    /* display: inline-block; */
    margin-bottom: 20px;
    float: right;
    opacity: 0.5;
}
.detailss>a:hover{
    opacity: 1;
}
.detailstable{
    border-collapse: collapse;
    margin: 20px 0;
    width: 100%;
    font-size: 0.9rem;
}
.detailstable>thead>tr>th{
    padding: 12px 0;
    background: var(--blue);
    color: white
}
.detailstable>tbody>tr{
    opacity: 0.5;
    cursor: pointer;
}
.detailstable>tbody>tr>td{
    padding: 12px 0;
    border-bottom: 1px solid var(--line);
    text-align: center;
}
.detailstable>tbody>tr:nth-child(even){
    background: rgba(128, 128, 128, 0.05);
}
.detailstable>tbody>tr:hover{
    opacity: 1;
}