/* tampilan responsive mobile 428px */
@media screen and (max-width: 428px){
  body{
    font-size: 15px;
  }
  html{
    font-size: 14px;
  }
  .nav_icon{
    height: 35px;
  }
  nav{
    padding: 20px;
  }
  nav >a{
    display: none;
  }
  .headertext{
    margin-block-start: 0px;
    gap: 20px;
    padding: 0 15px;
    transform: translateY(-50px);
  }
  .headertext > h1{
    font-size: 2rem;
    text-align: center;
    margin-block-start: 0;
    line-height: 1.5;
  }
  .headertext>h2{
    font-size: 2.2rem;
    margin: 10px 0;
    text-align: center;
    width: 100%;
  }
  .headertext > h1 > span{
    padding: 15px;
  }
  .headertext > p{
    text-align: center;
    padding: 10px 20px;
    font-size: 0.9em;
  }
  .jumbotron figure {
    width: 100%;
    margin-inline-start: 0px;
    margin-block-end: 0px;
  }
  .jumbotron{
    flex-direction: column-reverse;
    padding: 30px 5%;
  }
  .jumbotron > img{
    width: 100%;
  }
  .btnblue{
    padding: 11px 22px;
    font-size: 0.9rem;
    width: 100%;
    text-align: center;
  }
  body section{
    padding: 0px;
  }
  .mainsection{
    padding: 30px 15px;
  }
  .mainsection>h1{
    font-size: 2rem;
    margin-bottom: 0;
  }
  .usefull{
    margin-top: 20px;
  }
  .usefull>div{
    padding: 15px;
    min-width: 250px;
  }
  .caps>p{
    font-size: 0.9rem;
  }
  .contactbox{
    padding: 50px 15px;
  }
  .contactbox>h1{
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 30px;
  }
  .contactbox>p{
    font-size: 1rem;
  }
  .contactbox > button{
    font-size: 1rem;
    padding: 12px 50px;
  }
  .wrapper{
    width: 90%;
    padding: 25px;
    margin-left: 5%;
    margin-block-start: 30px;
  }
  .wrapper h2{
    font-size: 1.2rem;
  }
  .nav-data{
    flex-direction: column;
  }
  .nav-data form{
    flex-direction: column;
    width: 100%;
    gap: 15px;
    align-items: flex-start;
  }
  .nav-data form input, select{
    width: 100%;
  }
  .nav-data {
    justify-content: flex-start;
  }
  footer{
    flex-direction: column;
    padding: 30px 15px 15px 30px;
    text-align: center;
    gap: 30px;
    font-size: 1rem;
    align-items: center;
  }
  .corpInfo p{
    line-height: 1.1;
  }
  .corpInfo figure{
    margin: auto;
    margin-block-end: 25px;
  }
  footer>p{
    padding-top: 15px;
    margin-top: 25px;
  }
  footer>div{
    flex-direction: column;
    gap: 50px;
  }
  /* Halaman Summary */
  .page_title h1{
    font-size: 1.3rem;
    padding: 10px 20px;
    margin: 0;
    margin-inline-start: 20px;
  }
  .s_date_info{
    padding: 15px;
    font-size: 0.9rem;
    height: 80px;
    border-radius: 10px;
    text-align: center;
    top: 8px;
  }
  /* loginstyle  */

  .loginmain{
    position: relative;
  }
  .loginmain>div{
    flex-direction: column;
  }
  .loginmain>div>aside{
    padding: 0px 15px;
  }
  .loginmain>div>aside>figure{
    padding-top: 30px;
  }
  .loginmain>div>aside>figure>figcaption{
    transform: translateY(20px);
    margin: 0 0 20px 0;
  }
  .loginmain>div>aside>figure>figcaption>h1{
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  .loginmain>div>aside>figure>figcaption>p{
    font-size: 1rem;
    line-height: 1.5;
  }
  .loginmain>div>aside>figure>img{
    width: 100%;
  }
  .loginbox{
    padding: 50px 15px;
  }
  .forminput{
    padding: 30px 20px;
    font-size: 14px;
  }
  .forminput>p{
    line-height: 1.7;
    text-align: center;
  }

  .box_date_info{
    display: block;
  }
  .s_date_info p{
    line-height: 1.5;
  }
  .labelEdit{
    display: none;
  }
  .s_boxLocation{
    flex-direction: column;
    padding: 20px 0;
    gap: 30px;
    margin-inline-start: 5%;
    width: 90%;
  }
  .s_boxLocation .wrapper{
    width: 100%;
    padding: 20px 25px;
  }
  .s_boxLocation .wrapper h1{
    font-size: 1.2rem;
    padding-block-end: 15px;
  }
  .s_boxLocation table tr td{
    padding: 12px 20px;
  }
  .s_boxLocation table tr th{
    font-size: 0.9rem;
  }
  .s_boxLocation table tr td{
    font-size: 0.85rem;
  }
  .smallbtn{
    margin-inline-start: 80px;
  }
  .s_boxLocation table tr td:nth-child(2){
    font-size: 0.9rem;
  }
  .s_boxLocation table tr td:nth-child(3){
      font-size: 0.9rem;
  }
  #graphSummary .wrapper{
    margin-block-start: 0;
  }
  #graphSummary2 .wrapper{
    margin-top: 50px !important;
  }
  .btnDetail{
    font-size: 0.9rem;
    padding: 12px 0px;
  }
  .btnDetail a{
    text-align: center;
    width: 100%;
  }
  #graphSummary{
    padding-block-start: 80px !important;
  }
  #graphSummary2{
    padding-block-start: 80px !important;
  }
  .detailPIT2{
    margin: 30px 20px;
    padding: 20px;
  }
  .boxListAttendance{
    display: block;
  }
  .boxListAttendance figure{
    width: auto;
  }
  /* .boxListAttendance figure img{
    width: 100%;
  } */
  .t_operator table{
    font-size: 0.6rem;
  }
  .tAttendance .t_operator{
    width: 100%;
    height: auto;
  }
  .t_operator table tr td{
    font-size: 0.5rem;
    padding: 5px;
  }
  .pagination ul{
    margin-block-start: 20px;
  }
  .pagination ul li a{
    padding: 8px 10px;
    font-size: 0.5rem;
  }
  .outboxmain>nav>img{
    display: none;
  }
  .outboxmain>nav{
    bottom: 0;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    flex-direction: row;
    background: white;
    z-index: 20;
  }
  .itemnav{
    flex-direction: column;
    gap: 5px;
    padding: 0;
    font-size: 0.8rem;
  }
  .itemnav:hover{
    background: none;
  }
  .itemnav>img{
    width: 20px;
    height: auto;
  }
  .outboxmain>main{
    padding: 20px 15px;
  }
  .sumhead{
    padding: 20px;
    height: 100%;
  }
  .sumhead>img{
    width: 100%;
    float: none;
  }
  .sumhead>h1{
    margin-top: -20px;
    font-size: 1.7rem;
    line-height: 1.5;
    text-align: center;
  }
  .sumhead>p{
    font-size: 0.9rem;
    width: 100%;
    text-align: center;
    margin: 20px 0;
  }
  .sumhead>a{
    width: 100%;
    text-align: center;
  }
  .sumcontentbox{
    padding: 0;
    flex-wrap: nowrap;
    overflow: auto hidden;
  }
  .box{
    padding: 15px;
    height: 200px;
    width: 100%;
    max-width: 150px;
    overflow: unset;
  }
  .sumbox>h2{
    font-size: 1.5rem;
  }
  .box>img{
    float: none;
    width: 120px;
    height: auto;
    transform: translate(20px, 20px)
  }
  .box>h3{
    font-size: 1rem;
  }
  .itemnav{
    opacity: 0.4;
  }
  .box>p{
    font-size: 1.7rem;
  }
  .sumcontentbox{
    flex-direction: row;
    gap: 20px;
  }
  .box:hover{
    transform: translateY(0px);
  }
  .datebox{
    margin-top: 15px;
    padding: 15px;
  }
  .datebox>form{
    flex-direction: column;
    gap: 20px;
  }
  .datebox>form>div{
    display: flex;
    flex-direction: column;
  }
  .datebox>form>div>input{
    margin-left: 0;
    margin-top: 9px;
  }
  .datebox>form>button{
    padding: 10px 16px;
  }
  #illussearch{
    margin: 30px 0;
  }
  #illussearch>figcaption{
    font-size: 14px;
  }
  #illussearch>figcaption>p{
    padding: 0 10px;
    line-height: 1.5;
  }
  #illussearch>img{
    width: 100%;
  }
}